@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans';
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
    border-bottom: 1px solid #d6dae5;
    height: 81px;
}
.header-image > img {
    height: 32px;
    width: 32px;
}
.info {
    background-color: #eafaf1;
}
.heading {
    padding: 2rem 1.5rem 1rem;
}
h1 {
    font-size: 48px;
    margin-bottom: 3rem;
    color: #080C16;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -2px;
}
.heading > p {
    font-size: 1.125rem;
    line-height: 1.68rem;
}
h2 {
    color: #00AD6A;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.container:first-of-type {
    padding: 0 2rem;
}
li {
    color: #464951;
}
.container:first-of-type > ul {
    margin-left: 2rem;
    line-height: 1.5rem;
}
.container:first-of-type > p {
    color: #464951;
    margin-top: 1rem;
    line-height: 1.5rem;
}
p > a {
    color: #464951;
}
.container:nth-of-type(2) {
    border: 1px solid #00ad6a;
    margin: 2rem 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}