@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans';
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
    border-bottom: 1px solid #d6dae5;
    height: 81px;
}
.black {
    color: #062c27;
}
.nav-sign-up {
    padding: 0.25rem 1rem;
    border: 2px solid #00ad6a;
}
.header-image > img {
    height: 32px;
    width: 32px;
}
.info {
    background-color: #eafaf1;
}
.heading {
    padding: 2rem 1.5rem 1rem;
}
h1 {
    font-size: 48px;
    margin-bottom: 3rem;
    color: #080C16;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -2px;
}
.heading > p {
    font-size: 1.125rem;
    line-height: 1.68rem;
}
h2 {
    color: #00AD6A;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.container:first-of-type {
    padding: 0 2rem;
}
li {
    color: #464951;
}
.container:first-of-type > ul {
    margin-left: 2rem;
    line-height: 1.5rem;
}
.container:first-of-type > p {
    color: #464951;
    margin-top: 1rem;
    line-height: 1.5rem;
}
p > a {
    color: #464951;
}
.container:nth-of-type(2), .container:last-of-type {
    border: 1px solid #00ad6a;
    margin: 2rem 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    position: relative;
}
.recommended {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 1px;
    background-color: #00ad6a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 34px;
    order: 0;
}
.container-heading > h3 {
    font-size: 2.25rem;
    color: #00AD6A;
    padding: 1rem 1rem 0;
    line-height: 2.25rem;
    letter-spacing: -1.5px;
}
.container-paragraph > p {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    color: #83858A;
}
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #1fe374;
    height: 50px;
    color: #464951;
    font-size: 1.25rem;
    font-weight: 800;
}
.spam {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.additionals > p {
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #464951;
    padding: 1rem;
}
.container:nth-of-type(2) > ul {
    list-style-type: none;
    padding: 0 2rem 1rem;
}
.container:nth-of-type(2) > ul > li {
    padding: 0.5rem 0;
}
.container:nth-of-type(2) > ul > li::before {
    position: absolute;
    left: 16px;
    content: url(images/Path\ Copy\ 27.svg);
}
.container:last-of-type > ul {
    list-style-type: none;
    padding: 0 2rem 1rem;
}
.container:last-of-type > ul > li {
    padding: 0.5rem 0;
}
.container:last-of-type > ul > li::before {
    position: absolute;
    left: 16px;
    content: url(images/Path\ Copy\ 27.svg);
}
.container:last-of-type {
    border-color: #d6dae5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.container-top {
    text-align: center;
    height: 70px;
    background-color: #f2f3f3;
    padding: 1rem;
    color: #464951;
}
.container-top > p {
    font-size: 0.875rem;
}
.container:last-of-type >.connect >  .container-heading > h3 {
    font-weight: 400;
}
.bottom-image {
    display: flex;
    justify-content: center;
}
.bottom-text {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.bottom-wrapper {
    padding: 3rem 1.5rem;
}
.subvert-marketing {
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #00AD6A;
    padding: 1rem;
}
.faq {
    border-top: 1px solid #d6dae5;
}
.faq-container {
    padding: 0 1.5rem 2rem;
}
.faq > h4 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
    color: #080C16;
    padding: 3rem 1.5rem 0;
}
.faq-info {
    padding: 1.5rem 0;
}
.faq-info > h5 {
    font-size: 1.25rem;
}
.faq-info > p {
    color: #464951;
    font-size: 1.125rem;
    line-height: 1.8rem;
}
footer {
    background-color: #080c16;
}
.footer-info {
    padding: 2rem 1.5rem 1rem;
}
.footer-img {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.footer-sign-up {
    background-image: linear-gradient(90deg,#00ab6a,#23ea76);
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #062c27;
}
.footer-img-signup {
    margin-bottom: 1.5rem;
}
.footer-list {
    display: flex;
    justify-content: space-between;
}
.footer-list > ul {
    list-style-type: none;
    padding: 1rem;
    font-size: 0.875rem;
}
.footer-list > ul > li {
    color: white;
    margin: 0.5rem;
    font-weight: 600;
}
.footer-list > ul > li > a {
    color: #1fe374;
    text-decoration: none;
    font-weight: 400;
}
.footer-list > ul:first-of-type {
    padding: 1rem 1rem 1rem 0;
}
.europe-privacy {
    padding: 0.75rem 1.5rem 6rem;
}
.europe-privacy > p {
    font-size: 0.75rem;
    color: #83858A;
    line-height: 1.2rem;

}
.europe-privacy > p > a {
    color: #83858A;
}
nav > ul {
    display: none;
}
@media only screen and (min-width: 768px) {
    .header-image {
        display: none;
    }
    nav > ul {
        display: flex;
        justify-content: right;
        list-style-type: none;
        gap: 2.5rem;
    }
    nav > ul > li > a {
        text-decoration: none;
        color: #00ad6a;
        font-weight: 700;
    }
    nav {
        height: 145px;
        padding: 3rem 1.5rem;
        background-color:  #eafaf1;
        border-bottom: none;
    }
    h1 {
        width: 500px;
        font-size: 3.75rem;
        margin-bottom: 1rem;
    }
    .heading {
        padding-top: 0;
    }
    .heading > p {
        width: 600px;
    }
    .connect {
        display: flex;
        align-items: end;
    }
    .container-paragraph > p {
        padding-bottom: 0;
        padding-left: 0;
        font-size: 1.5rem;
    }
    .faq-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .faq-info {
        padding: 1.5rem 1rem 1.5rem 0;
    }
    .footer-img-signup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-sign-up {
        width: 305px;
    }
    .footer-info {
        padding: 6rem 0;
    }
    .footer-img > img{
        height: 66px;
        width: 160px;
        margin-bottom: 1rem;
    }
    .footer-list > ul {
        font-size: 1.125rem;
        width: 33vw;
        line-height: 2rem;
    }
    .footer-list > ul:first-of-type {
        padding: 1rem;
    }
    .europe-privacy {
        padding: 0.75rem 1.5rem;
    }
}
@media only screen and (min-width:1024px) {
    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 5rem;
    }
    .section-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container:first-of-type {
        height: 580px;
        width: 335px;
        padding: 0 3.5rem;
    }
    .container:nth-of-type(2) {
        height: 680px;
        width: 334px;
        margin: 0;
    }
    .container:last-of-type {
        height: 616px;
        width: 334px;
        margin: 0;
    }
}